[Desktop Entry]
Type=Application
Exec=/home/lee/.local/share/dermodex/dd_start.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=DermoDex Wallpaper Watcher
Comment[en_US]=Watches for changes to wallpaper and then recalculates accent colors and rebuilds cinnamon.css
X-GNOME-Autostart-Delay=15