/* */
/* */
/* DERMODEX CINNAMON OVERRIDES */


stage {
  font-size         : 0.8em;
}

.cinnamon-link {
  color: #3281ea;
}

.cinnamon-link:hover {
  color: #3281ea;
}

#Tooltip {
    border-radius   : 8px;
    padding         : 5px 12px;
    margin          : 0.5em;
    font-weight     : normal;
    text-align      : center;
    font-size       : 12pt;

    border          : 1px solid #202020;
    background-color: rgba(54, 54, 54, 1);
    color           : #ffffff;
    font-size       : 1em;
    font-weight     : normal;
    text-align      : center;
    
    box-shadow      : 0 5px 12px rgba(0, 0, 0, 0.35);
    
}
/* SCROLLBARS */
StScrollBar {
    padding             : 0px 0px; 
}
StScrollBar StBin#trough {
    background-color    : rgba(64, 64, 64, 0); 
}
StScrollBar StButton#vhandle, 
StScrollBar StButton#hhandle {
    background-color    : #3281ea;
    border-radius       : 8px; 
}
StScrollBar StButton#vhandle:hover, 
StScrollBar StButton#hhandle:hover {
    background-color    : #3281ea; 
}

/* PANEL */
#panel:highlight {
    background-color: rgba(255, 255, 255, 0.5);
    /*border-radius   : 64px;*/
}

#panel {
    background-position     : 0px -700px;
    background-repeat       : no-repeat;
    background-size         : cover;
    
    padding         : 0px;
}

#panelLeft {
    spacing         : 4px;
}

.panelLeft,
.panelRight {
    spacing         : 4px;
    padding         : 0px;
    margin-left     : 10px;
    margin-right    : 10px;
    border-radius   : 32px;
    background-color: rgba(64, 64, 64, 0.9);
}

.panel-bottom .panelLeft,
.panel-bottom .panelRight {
    margin-top      : 5px;
    margin-bottom   : 5px;
}

.panel-top .panelLeft,
.panel-top .panelRight {
    margin-top      : 5px;
    margin-bottom   : 5px;
}


#panelLeft:dnd,
#panelCenter:dnd,
#panelRight:dnd {
    background-gradient-direction   : vertical;
    background-gradient-end         : rgba(255, 255, 255, 0.05);
    background-gradient-start       : rgba(255, 255, 255, 0.2);
    border-radius   : 64px;
    border          : 1px solid #ffffff;
}

/* SYSTRAY */
.panel-top .applet-box,
.panel-bottom .applet-box {
    spacing         : 8px;
    padding-left    : 8px;
    padding-right   : 8px; 
}

.applet-separator {
    padding         : 4px 4px; 
}


/* GROUPED WINDOW LIST */
.grouped-window-list-box {
    spacing: 2px;
}
.grouped-window-list-box.vertical {
    spacing: 3px;
}

.grouped-window-list-item-box {
    margin-left     : 8px;
    margin-right    : 8px;
    spacing         : 8px;
    color           : rgba(255, 255, 255, 0.9);
    border-radius   : 16px;
    border-bottom   : 2px solid transparent;
}

.grouped-window-list-item-box:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius   : 16px;
    border-bottom   : 2px solid transparent;    
}

.grouped-window-list-item-box.top, 
.grouped-window-list-item-box.bottom {
    padding-left    : 8px;
    padding-right   : 8px;
}

.grouped-window-list-item-demands-attention {
    background-gradient-start   : #000000;
    background-gradient-end     : #000000;
    border-radius               : 16px;
}

.grouped-window-list-thumbnail-menu .item-box:outlined {
    background-color  : rgba(255, 255, 255, 0.9);
}

.grouped-window-list-thumbnail-menu .item-box:hover {
    background-color  : rgba(255, 255, 255, 0.95);
}

.grouped-window-list-thumbnail-menu .item-box {

    background-color: rgba(255, 255, 255, 0.9);
    
    padding         : 12px;
    border-radius   : 8px;
    border          : 4px solid #ffffff;
    spacing         : 8px;
    margin          : 4px 4px 0px 4px;
    color           : rgba(0, 0, 0, 0.7);
    
    box-shadow      : 0 5px 12px rgba(0, 0, 0, 0.95);
}

.grouped-window-list-thumbnail-menu .thumbnail {
    border          : 2px solid #ffffff;
    border-radius   : 4px;
    width           : auto;
    height          : 100px;
}

.grouped-window-list-badge {
  background-color: #3281ea;
  font-size : 9pt;
}


/* START MENU BUTTON */
.applet-box:hover,
.applet-box:checked, 
.applet-box:checked:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0);
}


/* START MENU */
.menu-background {
    background-color    : rgba(64, 64, 64, 0.95);
    background-image    : url(/home/lee/.local/share/dermodex/menu_blur.jpg);
    background-position : 0px 0px;
    background-repeat   : no-repeat;
    background-size     : 1000px 1000px;
    border              : 1px solid #202020;
    /*border-left-width   : 32px;*/
}

#menu-search-entry {
    width               : 250px;
    height              : 15px;
    font-weight         : normal;
    caret-color         : #000000;
}

#menu-search-entry:focus {
    box-shadow      : inset 0 0 0 2px transparent;
}

.menu-search-entry-icon {
    icon-size       : 1em;
    color           : #ffffff;
}

.menu-favorites-box {
  padding           : 8px;
  background-color  : rgba(64, 64, 64, 0.85);
  background-gradient-direction: vertical;
  fav-background-gradient-end: rgba(0,0,0,0.66);
  fav-background-gradient-start: rgba(0,0,0,0);
  border            : 1px solid #202020;
  border-radius     : 64px; 
}

.menu-favorites-button {
  padding           : 0.5em; 
}
.menu-favorites-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius   : 64px;
}

.menu-categories-box {
    padding         : 20px 30px;
    font-size       : 15pt;
}

.menu-category-button,
.menu-category-button-greyed,
.menu-category-button-selected,
.menu-category-button-hover {
    padding         : 10px;
    background-color: transparent;
    border-radius   : 0px;
    border-left     : 2px;
    border-style    : solid;
    border-color    : transparent;
}

.menu-category-button {
    background      : transparent;
}

.menu-category-button-greyed {
    color           : #666666;
    border-color    : #666666;
}

.menu-category-button-hover,
.menu-category-button-selected {
    color           : #ffffff;
    border-color    : #3281ea;
}


.menu-applications-box {
    padding         : 10px 15px;
    font-size       : 13pt;
}

.menu-applications-inner-box .menu-applications-outer-box {
  padding           : 4px 4px 0px 8px; 
}

.menu-applications-inner-box {
    background-repeat   : no-repeat;
    background-size     : 75px 75px;
    background-position : 210px 350px;
    background-image    : url(/home/lee/.face);
}

.menu-application-button-selected,
.menu-application-button {
    padding             : 8px;
    border-radius       : 8px;
}

.menu-application-button {
    border              : 1px solid transparent;
}

.menu-application-button-selected {
  selected-color        : #202020;
  background-color      : #3281ea;
  border                : 1px solid #3281ea;
}
  
.menu-application-button:highlighted,
.menu-application-button-selected:highlighted {
    font-weight         : bold; 
}

/* This appears on the bottom right hand corner of the menu */
.menu-selected-app-box {
    font-size           : 0.85em;
    padding-right       : 30px;
    padding-left        : 30px;
    padding-bottom      : 30px;
    text-align          : right;
    color               : #ffffff; 
}

  
.menu StScrollView.vfade {
    -st-vfade-offset: 68px; 
}

.menu StScrollView.hfade {
    -st-vfade-offset: 68px;
}

.menu StScrollView StScrollBar {
    min-width       : 0px;
    min-height      : 0px; 
}



/* WORKSPACES */
.workspace-button {
    border-color        : #3281ea;
}

.panel-bottom .workspace-button,
.panel-top .workspace-button {
    padding             : 0 0.5em;
    margin              : 0 0.5em 0 0; 
}

.panel-bottom .workspace-button {
    border-bottom       : 2px; 
}

/* SOUND */
.sound-player {
    width : 520px;
    font-size : 13pt;
}

.sound-player StButton {
  width: 32px;
  height: 32px;
  color: #969696;
  border: 1px solid #969696;
  border-radius: 32px; }

.sound-player StButton:hover,
.sound-player StButton:active {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 32px; }

.sound-player StIcon {
  icon-size: 22px; 
}

.sound-player StButton:small {
  width: 32px;
  height: 32px; }

.sound-player StButton:small StIcon {
  icon-size: 1.2em; }

.sound-player StButton StIcon {
  icon-size: 1.5em; }



.sound-player .slider {
  height: 1em;
  -slider-height: 1em;
  -slider-background-color: #2f2f2f;
  -slider-border-color: #202020;
  -slider-active-background-color: #ffffff;
  -slider-active-border-color: #202020;
  -slider-border-width: 0px;
  -slider-handle-radius: 0px;}

.sound-player StBoxLayout {
  spacing: 0.5em; }

.sound-player > StBoxLayout {
  padding: 0.5em; }

.sound-player-overlay {
  width: 486px;
  padding: 0.7em 1em;
height:150px;
  background-color: rgba(30, 30, 30, 0.9);
  color: #ffffff; }

.sound-player-overlay StButton {
  padding: 0.5em;
  margin: 0px 0.5em; }

.sound-player-overlay StButton > StIcon {
  icon-size: 22px; }

.sound-player-overlay StBoxLayout {
  padding-top: 2px; }

.sound-player-generic-coverart {
  background: rgba(0, 0, 0, 0.1); }




/* SEARCHBOXES */
#menu-search-entry, .notification StEntry, .menu #notification StEntry, .popup-menu #notification StEntry, #notification StEntry {
  padding: 8px 16px;
  min-height: 32px;
  caret-size: 2px;
  caret-color: #3281ea;
  
    
  selection-background-color: #3281ea;
  selected-color: #000000;
  transition-duration: 300ms;
  border-radius: 4px;
  color: #000000;
  border: 2px solid transparent;
  border-radius : 32px;
  background-color: rgba(255, 255, 255, 0.15);
    
}

#menu-search-entry:focus, .notification StEntry:focus, .menu #notification StEntry:focus, .popup-menu #notification StEntry:focus, #notification StEntry:focus, #menu-search-entry:hover, .notification StEntry:hover, .menu #notification StEntry:hover, .popup-menu #notification StEntry:hover, #notification StEntry:hover {
  color: white;
    cursor: text;
  background-color: rgba(255, 255, 255, 0.15);
border : 2px solid transparent;
  border-bottom: 2px solid #ffffff;
}

#menu-search-entry:insensitive, .notification StEntry:insensitive, .menu #notification StEntry:insensitive, .popup-menu #notification StEntry:insensitive, #notification StEntry:insensitive {
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(0, 0, 0, 0.5);
}

#menu-search-entry StIcon.capslock-warning, .notification StEntry StIcon.capslock-warning, .menu #notification StEntry StIcon.capslock-warning, .popup-menu #notification StEntry StIcon.capslock-warning, #notification StEntry StIcon.capslock-warning {
  icon-size: 16px;
  warning-color: #FDD633;
  padding: 0 6px;
}

/* END DERMODEX CINNAMON OVERRIDES */